div(ng-if='authenticated() && user.flags.ads!="hide"')
  span.pull-right(ng-if='list.type!="reward"')
    a(ng-click='showStripe()', tooltip='Remove Ads')
      i.icon-remove
    br
    a(ng-click='modals.whyAds=true', tooltip='Why Ads?')
      i.icon-question-sign

  div(ng-if='list.type=="habit"', habitrpg-adsense)

  div(ng-if='list.type=="daily"', habitrpg-adsense)

  div(ng-if='list.type=="todo"', habitrpg-adsense)
